body{
    background-color: aliceblue;

}

img{
    width: 150px;
}

h1{
    text-align: center;
    font-family: cursive;
}

.main{
    margin: 50px;
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    border: 1px solid black;
    padding:10px;
}

.arene{
    display: flex;
    flex-flow: row;
    min-width: 450px;
    min-height: 333px;
    background-image: url("../img/arene.png");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    vertical-align: bottom;
}

.combatant1{
    /*border: 1px solid red;*/
    max-height: 150px;
    /*width: calc(33.33333% - 40px);*/
    margin: 20px;
    padding-top: 100px;

}

.combatant2{
    max-height: 150px;
    /*width: calc(33.33333% - 40px);*/
    padding-top: 100px;
    margin: 20px;
}